article {
  display: block;
  margin: 10px 10% 40px 10%;
  padding: 5px 15px 15px 15px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #708090b0;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  box-sizing: border-box;

  p {
    margin: 0;
    padding-bottom: 15px;
  }
  h2 {
    margin-bottom: 0px;
  }

  section {
    padding-bottom: 10px;
  }
  .buttonDiv {
    display: inline-block;
    padding-bottom: 10px;
    margin: 0px 15px;
  }
  .textPad {
    p {
      font-style: italic;
      font-weight: bold;
    }
  }
  .displayIB {
    display: inline-block;
    color: #4e9350;
    padding-bottom: 6px;
  }
  .likes {
    width: 50%;
    text-align: right;
  }
  .info {
    width: 50%;
  }

  .text {
    padding-bottom: 10px;
    font-weight: normal;
  }
  .centered {
    text-align: center;
    padding-top: 10px;
    button {
      width: 100px;
      font-size: 16px;
      background: #474747;
      color: white;
      border-radius: 5px;
      margin-right: 10px;

    }
    button:hover {
      background: #808080;
    }
  }
  .description {
    padding-bottom: 7px;
  }
  .orgButtons {
    button {
      margin: 0px 15px;
    }
  }
  .name {
    margin-top: 0;
    color: gray;
    font-size: 16px;
  }
}
