section {
  a {
    margin: 25px;
  }
}
.createButton {
  text-align: center;
  width: 180px;
  margin: 0px 0px 25px 0px;
  background-color: #474747;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}
.createButton:hover {
  background-color: #808080;
}

.centered {
  text-align: center;
}

.filter{
  margin-bottom: -60px;
  text-align: center;
  button {
    width: 50px;
    font-size: 14px;
    background: #474747;
    color: white;
    border-radius: 5px;
    margin-left: 10px;

  }
  button:hover {
    background: #808080;
  }
}
.pager{
  text-align: center;
  margin-top: -60px;
}
